:root {
  --b-color: #1b1913;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: white;
}

.nav-container {
  max-height: 52px;
  max-width: 1300px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.logo img {
  width: 100px;
}
.nav-feature a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 6px 15px;
  background-color: #000;
}
.nav-btn button {
  margin: 3px;
}
.btn1 {
  background-color: black;
  border: 1px solid #5b5b5b;
  border-radius: 20px;
  padding: 4px 10px;
  color: white;
  font-size: 0.9rem;
}
.btn1:hover {
  background-color: rgb(32, 32, 32);
}
.btn2 {
  background-color: #fff;
  color: #111;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 0.9rem;
  border: none;
}
.hero-sec {
  max-width: 1300px;
  padding: 112px 20px 67px;
  margin: 0 auto;
}
.hero-place {
  max-width: 658px;
  max-height: 138px;
  margin-bottom: 56px;
  background-color: #000;
}
#para {
  max-width: 658px;
  max-height: 65px;
  font-size: 26px;
  background-color: #000;
  color: #fff;
  margin-bottom: 22.5px;
}
.btn3 {
  padding: 12px 21px;
  color: #14120b;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #fff;
  font-size: 1rem;
}
.hero-btn i {
  color: #111;
  background-color: #fff;
  font-size: 1rem;
}
.big-pic img {
  max-width: 100%;
  max-width: 1300px;
}
.sm-para {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}
.box-div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 150px);
  gap: 10px;
}
.box {
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box img {
  background-color: #1b1913;
  max-width: 100px;
}
.three-div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-height: 2440px;
  margin-top: 100px;
  gap: 100px;
  margin-bottom: 100px;
}
.first-img {
  background-color: var(--b-color);
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.slide-para p,
a {
  background-color: var(--b-color);
}
#up-p,
#low-p {
  font-size: 22px;
}
#low-p {
  margin-bottom: 20px;
  color: #a7a7a7;
}
#low-a i,
a {
  color: #ff4d00;
  font-size: 1rem;
  /* background-color: var(--b-color); */
  text-decoration: none;
}
.slide-para {
  background-color: var(--b-color);
  padding-right: 30px;
}
.slide-img {
  background-color: var(--b-color);
}
.second-img {
  background-color: var(--b-color);
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.second-img .slide-para {
  padding-left: 30px;
}
.third-img {
  background-color: var(--b-color);
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
#h1-head {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 36px;
}
.main-cont {
  display: grid;
  max-height: 665px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 140px;
}
.cont-div {
  font-size: 16.9px;
  background-color: var(--b-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  max-height: 280px;
}

.cont-prof {
  background-color: var(--b-color);
  display: flex;
  gap: 10px;
}
.prof-pic {
  max-width: 50px;
  height: 50px;
}

.cont-div p,
pre {
  background-color: var(--b-color);
  border: none;
}
.intro {
  background-color: var(--b-color);
}
#partner {
  color: #a7a7a7;
}
.explore-models {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 553px);
  gap: 10px;
}
.explore-img img {
  max-width: 400px;
}
.models {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 20px;
  background-color: var(--b-color);
}
.explore-para {
  font-size: 1.1rem;
  background-color: var(--b-color);
}
#low-p1 {
  color: #a7a7a7;
  background-color: var(--b-color);
}
#low-a1 i {
  background-color: var(--b-color);
  color: #ff4d00;
}
#up-p1 {
  background-color: var(--b-color);
}
#low-a1 {
  text-decoration: none;
}
#explore-id {
  padding-bottom: 25px;
}
.explore {
  margin-bottom: 45px;
  height: 680px;
}
.changelog {
  margin-bottom: 70px;
  height: auto;
}
.change-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 121px;
  grid-template-rows: repeat(1, 121px);
  gap: 10px;
  margin-bottom: 30px;
}
.date-div {
  background-color: var(--b-color);
  padding: 15px;
}
.date-div p,
span {
  background-color: var(--b-color);
}
.span-div span {
  padding: 2px 10px;
  border: 1px solid #a7a7a7;
  border-radius: 25px;
  background-color: var(--b-color);
  color: #a7a7a7;
}
.span-div {
  background-color: var(--b-color);
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.span-div p {
  font-size: 1.1rem;
  color: #a7a7a7;
}
.faltu-div {
  font-size: 1.1rem;
}
.changelog h2 {
  margin-bottom: 23px;
}
.research {
  height: 508px;
}
.second-main {
  background-color: var(--b-color);
}
.high-i {
  display: flex;
  background-color: var(--b-color);
  justify-content: start;
  height: 506px;
  max-width: 1300px;
  margin: 160px auto 0;
  padding: 90px;
}
.highlights1 {
  max-width: 650px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.highlights {
  max-width: 330px;
  width: 100%;
}
.light-high {
  background-color: var(--b-color);
}
.highlights p {
  background-color: var(--b-color);
  font-size: 1rem;
}
.high {
  background-color: #201e18;
  padding: 10px;
  border-radius: 5px;
}
.up-towards p {
  background-color: #201e18;
  font-size: 1rem;
}
.low-towards {
  margin-top: 50px;
  background-color: #201e18;
}
.high1 {
  background-color: #201e18;
  padding: 10px;
  border-radius: 5px;
}
.high2 {
  background-color: #201e18;
  padding: 10px;
  border-radius: 5px;
}
.low-towards p {
  background-color: #201e18;
}
i {
  background-color: var(--b-color);
  color: #ff4d00;
}
.high-p {
  color: #a7a7a7;
}
.sec-se2 {
  padding: 135px 20px;
  height: 153px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#sec-h2 {
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 20px;
}
.sec-se2 button i {
  color: #000;
  background-color: #fff;
}
.foot {
  max-height: auto;
  background-color: var(--b-color);
  padding: 67px 20px 30px;
}
.foot1 {
  max-width: 1300px;
  width: 100%;
  max-height: 369px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  gap: 10px;
  background-color: var(--b-color);
}
.foot2 {
  height: 370px;
  background-color: var(--b-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fot a {
  color: #fff;
  display: flex;
  align-items: space-between;
}
.fot h3 {
  font-size: 1rem;
  background-color: var(--b-color);
  color: #a7a7a7;
  font-weight: 500;
}
.fot a,
h3 {
  padding: 5px 0;
  font-size: 1rem;
}
.fot {
  padding: 5px;
  background-color: var(--b-color);
}
.c-last {
  margin: 0 auto;
  width: 1300px;
  background-color: var(--b-color);
}
.c-last p {
  background-color: var(--b-color);
  color: #a7a7a7;
}
